body{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2.5rem;
    border: 10px solid black;
}

.red{
    background-color:red ;
}
.green{
    background-color:rgb(31, 195, 19) ;
}
.blue{
    background-color: rgb(11, 195, 236);
}
.yellow{
    background-color: yellow;
}
.flash{
    background-color: aliceblue;
}
.userflash{
    background-color: green;
}